body {
    margin: 0;
    font-family: Arial, sans-serif;
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #333;
    padding: 1rem;
}

.logo-style {
    color: white;
    text-decoration: none;
    font-size: 1.5rem;
}
.navbar-menu {
    list-style: none;
    display: flex;
    margin: 0;
    padding: 0;
}
.navbar-menu li {
    margin-left: 1rem;
    position: relative;
}

.navbar-menu a {
    color: white;
    text-decoration: none;
    padding: 0.5rem 1rem;
    display: block;
}
.navbar-menu a:hover {
    background-color: #575757;
    border-radius: 4px;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #333;
    box-shadow: 0 8px 16px rgba(0,0,0,0.2);
    z-index: 1;
    top: 100%;
    left: 0;
    min-width: 160px;
}

.dropdown-content a{
    padding: 0.5rem 1rem;
}

.dropdown-content a:hover {
    background-color: #575757;
}

.dropdown:hover .dropdown-content {
    display: block;
}